<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <ul>
            {% for p in products %}
                <li>#{{ p.id }} - {{ p.name }}</li>
            {% endfor %}
            </ul>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
